extends layout

block content

  div.container
     .page-header
       .row
         .col-lg-12
           h1= '型式試験の実施状況'
           p= '更新日時:' + update
     table.table.table-striped.table-hover
       thead
         tr
           th 管理番号
           th 設計書等審査
           th 対比照合審査
           th 遊技機の試験
           th 試験終了予定
       tbody
         each item in list
           - var _id = '000000' + String(item.id);
           - _id = _id.substring(_id.length - 6)
           - if (id.length == 0 || (id.length > 0 && id.indexOf(_id) >= 0))
             tr
               td=  _id
               td= (item.test[0].status == 0?'':(item.test[0].status == 1?'試験中':'試験終了'))
               td= (item.test[1].status == 0?'':(item.test[1].status == 1?'試験中':'試験終了'))
               td= (item.test[2].status == 0?'':(item.test[2].status == 1?'試験中':'試験終了'))
               td= item.guess
     .page-header
       .row
         .col-lg-12
           h2= '利用方法'
           pre 
             |URL例
             |1 /                              (HTML形式,全件表示)
             |2 /?id=012345,678901             (HTML形式,一部表示) ..カンマ区切り、6桁の数値で指定
             |3 /?format=json                  (JSON形式,全件表示)
             |4 /?id=012345,678901&format=json (JSON形式,一部表示) ..カンマ区切り、6桁の数値で指定
           h2= 'JSON形式'
           pre
             | {'list':[
             |   {
             |     '_id'  :0000000000000,
             |     'id'   :123456,                   ..作業管理番号
             |     'start':'2017-08-23',             ..試験開始日時
             |     'end'  :'2017-08-23',             ..試験終了日時
             |     'guess':'9月下旬',                ..試験終了予定
             |     'test' :[
             |       {
             |         'status':0,                   ..0:試験待ち, 1:試験中, 3:試験終了
             |         'start' :'2017-08-23',        ..試験開始日時
             |         'end'   :'2017-08-23',        ..試験終了日時
             |       },{
             |         'status':0,                   ..0:試験待ち, 1:試験中, 3:試験終了
             |         'start' :'2017-08-23',        ..試験開始日時
             |         'end'   :'2017-08-23',        ..試験終了日時
             |       },{
             |         'status':0,                   ..0:試験待ち, 1:試験中, 3:試験終了
             |         'start' :'2017-08-23',        ..試験開始日時
             |         'end'   :'2017-08-23',        ..試験終了日時
             |       }
             |     ],
             |   },
             | ]}
         .col-lg-12
           h2= '関連リンク'
           p 
             ul
               li
                 a(href='http://www.hotsukyo.or.jp/pdf/weekly.pdf',target='_blank') 型式試験の実施状況

